.week-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
  font-size: 16px;
}
#currentWeek {
  font-weight: bold;
  min-width: 250px;
  display: inline-block;
  text-align: center;
}
button {
  padding: 5px 10px;
}
input[type="date"] {
  padding: 5px;
}

.border-danger {
  border: 2px solid #dc3545 !important;
}
